In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import itertools as it
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.cross_validation import train_test_split, cross_val_score, cross_val_predict
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, precision_score, confusion_matrix
% matplotlib inline

# Vectors and Models
We've more or less settled on using TFIDF as the vectorizer of record. This is because we are looking at frequencies across a range of documents. We went to all the trouble of creating corpora of various lengths in order to have a better experimental field for the research.

Twain = 1 
Wilde = 2 
Lincoln = 3
///
D_Twain = 10 
D_Wilde = 20 
D_Lincoln = 30
///
Modern = 100

1000-, 500-, and 100-record samples for each original writer - Twain, Wilde, Lincoln

In [ ]:
a_df = pd.read_csv('author_counts.csv', sep="|", encoding="utf-8")

In [ ]:
a_df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [ ]:
a_df

In [ ]:
# t_root = '../code/twain_final/t_'
# w_root = '../code/wilde_final/w_'
# c_root = '../code/lincoln_final/c_'

In [ ]:
# roots = [t_root, w_root, c_root]
# var = ['1k_H', '1k_W', '1k_S', '500_H', '500_W', '500_S', '100_H', '100_W', '100_S']
# auths = ['t_', 'w_', 'c_']

In [ ]:
# combo = it.product(roots, var)
# filn = []
# for i in combo:
#     filn.append([i[0] + i[1]])

# filn

In [ ]:
# combo2 = it.product(auths, var)
# dfn = []
# for o in combo2:
#     print o[0] + o[1]

# Alright. I am out of time for messing about with this. I'm going to do it in the most straightforward way I know how.
# Excel!

In [2]:
t_1k_H=pd.read_csv('../code/twain_final/t_1k_H.csv', sep="|", encoding="utf-8")
t_1k_W=pd.read_csv('../code/twain_final/t_1k_W.csv', sep="|", encoding="utf-8")
t_1k_S=pd.read_csv('../code/twain_final/t_1k_S.csv', sep="|", encoding="utf-8")
t_500_H=pd.read_csv('../code/twain_final/t_500_H.csv', sep="|", encoding="utf-8")
t_500_W=pd.read_csv('../code/twain_final/t_500_W.csv', sep="|", encoding="utf-8")
t_500_S=pd.read_csv('../code/twain_final/t_500_S.csv', sep="|", encoding="utf-8")
t_100_H=pd.read_csv('../code/twain_final/t_100_H.csv', sep="|", encoding="utf-8")
t_100_W=pd.read_csv('../code/twain_final/t_100_W.csv', sep="|", encoding="utf-8")
t_100_S=pd.read_csv('../code/twain_final/t_100_S.csv', sep="|", encoding="utf-8")

In [3]:
w_1k_H=pd.read_csv('../code/wilde_final/w_1k_H.csv', sep="|", encoding="utf-8")
w_1k_W=pd.read_csv('../code/wilde_final/w_1k_W.csv', sep="|", encoding="utf-8")
w_1k_S=pd.read_csv('../code/wilde_final/w_1k_S.csv', sep="|", encoding="utf-8")
w_500_H=pd.read_csv('../code/wilde_final/w_500_H.csv', sep="|", encoding="utf-8")
w_500_W=pd.read_csv('../code/wilde_final/w_500_W.csv', sep="|", encoding="utf-8")
w_500_S=pd.read_csv('../code/wilde_final/w_500_S.csv', sep="|", encoding="utf-8")
w_100_H=pd.read_csv('../code/wilde_final/w_100_H.csv', sep="|", encoding="utf-8")
w_100_W=pd.read_csv('../code/wilde_final/w_100_W.csv', sep="|", encoding="utf-8")
w_100_S=pd.read_csv('../code/wilde_final/w_100_S.csv', sep="|", encoding="utf-8")

In [4]:
c_1k_H=pd.read_csv('../code/lincoln_final/c_1k_H.csv', sep="|", encoding="utf-8")
c_1k_W=pd.read_csv('../code/lincoln_final/c_1k_W.csv', sep="|", encoding="utf-8")
c_1k_S=pd.read_csv('../code/lincoln_final/c_1k_S.csv', sep="|", encoding="utf-8")
c_500_H=pd.read_csv('../code/lincoln_final/c_500_H.csv', sep="|", encoding="utf-8")
c_500_W=pd.read_csv('../code/lincoln_final/c_500_W.csv', sep="|", encoding="utf-8")
c_500_S=pd.read_csv('../code/lincoln_final/c_500_S.csv', sep="|", encoding="utf-8")
c_100_H=pd.read_csv('../code/lincoln_final/c_100_H.csv', sep="|", encoding="utf-8")
c_100_W=pd.read_csv('../code/lincoln_final/c_100_W.csv', sep="|", encoding="utf-8")
c_100_S=pd.read_csv('../code/lincoln_final/c_100_S.csv', sep="|", encoding="utf-8")

In [5]:
m_1k_H =pd.read_csv('../code/mod_final/m_1k_H.csv', encoding="utf-8")
m_1k_W =pd.read_csv('../code/mod_final/m_1k_W.csv', encoding="utf-8")
m_1k_S =pd.read_csv('../code/mod_final/m_1k_S.csv', encoding="utf-8")
m_500_H =pd.read_csv('../code/mod_final/m_500_H.csv', encoding="utf-8")
m_500_W =pd.read_csv('../code/mod_final/m_500_W.csv', encoding="utf-8")
m_500_S =pd.read_csv('../code/mod_final/m_500_S.csv', encoding="utf-8")
m_100_H =pd.read_csv('../code/mod_final/m_100_H.csv', encoding="utf-8")
m_100_W =pd.read_csv('../code/mod_final/m_100_W.csv', encoding="utf-8")
m_100_S =pd.read_csv('../code/mod_final/m_100_S.csv', encoding="utf-8")

In [6]:
H_1k = [t_1k_H, w_1k_H, c_1k_H, m_1k_H]

In [7]:
df_1k_H = pd.concat(H_1k)

df_1k_H.reset_index(inplace=True)

In [8]:
df_1k_H.drop(['index', 'Unnamed: 0'], axis=1, inplace=True)

In [9]:
W_1k = [t_1k_W, w_1k_W, c_1k_W, m_1k_W]
S_1k = [t_1k_S, w_1k_S, c_1k_S, m_1k_S]
H_500 = [t_500_H, w_500_H, c_500_H, m_500_H]
W_500 = [t_500_W, w_500_W, c_500_W, m_500_W]
S_500 = [t_500_S, w_500_S, c_500_S, m_500_S]
H_100 = [t_100_H, w_100_H, c_100_H, m_100_H]
W_100 = [t_100_W, w_100_W, c_100_W, m_100_W]
S_100 = [t_100_S, w_100_S, c_100_S, m_100_S]

In [10]:
df_1k_W = pd.concat(W_1k)
df_1k_W.reset_index(inplace=True)
df_1k_S = pd.concat(S_1k)
df_1k_S.reset_index(inplace=True)
df_500_H = pd.concat(H_500)
df_500_H.reset_index(inplace=True)
df_500_W = pd.concat(W_500)
df_500_W.reset_index(inplace=True)
df_500_S = pd.concat(S_500)
df_500_S.reset_index(inplace=True)
df_100_H = pd.concat(H_100)
df_100_H.reset_index(inplace=True)
df_100_W = pd.concat(W_100)
df_100_W.reset_index(inplace=True)
df_100_S = pd.concat(S_100)
df_100_S.reset_index(inplace=True)

In [ ]:
# # Add in the moderns!
# df_1k_H = df_1k_H.append(m_1k_H)
# df_1k_W = df_1k_W.append(m_1k_W)
# df_1k_S = df_1k_S.append(m_1k_S)
# df_500_H = df_500_H.append(m_500_H)
# df_500_W = df_500_W.append(m_500_W)
# df_500_S = df_500_S.append(m_500_S)
# df_100_H = df_100_H.append(m_100_H)
# df_100_W = df_100_W.append(m_100_W)
# df_100_S = df_100_S.append(m_100_S)

In [ ]:
df_1k_H.code.value_counts()

In [11]:
df_1k_W.head()
df_1k_W.drop(['Unnamed: 0', 'index'], axis=1, inplace=True)

In [12]:
df_1k_S.head()
df_1k_S.drop(['Unnamed: 0', 'index'], axis=1, inplace=True)

In [13]:
df_500_H.head()
df_500_H.drop(['Unnamed: 0', 'index'], axis=1, inplace=True)

In [14]:
df_500_W.drop(['index', 'Unnamed: 0'], axis=1, inplace=True)
df_500_W.head()

                                                   0  code
0  [This, book, is, a, record, of, a, pleasure, t...     1
1  [year, ., A, good, many, expedients, were, res...     1
2  [We, got, plenty, of, fresh, oranges, ,, lemon...     1
3  [has, been, mentioned, in, history, for, three...     1
4  [but, this, thing, of, having, to, ring, for, ...     1

In [15]:
df_500_S.head()
df_500_S.drop(['Unnamed: 0', 'index'], axis=1, inplace=True)

In [16]:
df_100_H.head()
df_100_H.drop(['Unnamed: 0', 'index'], axis=1, inplace=True)

In [17]:
df_100_W.head()
df_100_W.drop(['Unnamed: 0', 'index'], axis=1, inplace=True)

In [18]:
df_100_S.head()
df_100_S.drop(['Unnamed: 0', 'index'], axis=1, inplace=True)

In [19]:
df_1k_H[df_1k_H.code.isnull()]

Empty DataFrame
Columns: [0, code]
Index: []

In [20]:
df_1k_H.code.fillna(value=100, inplace=True)

In [21]:
df_500_H['0'].fillna(value=100, inplace=True)

In [22]:
df_500_H.code.fillna(value=100, inplace=True)

In [23]:
df_100_H.code.fillna(value=100, inplace=True)

In [24]:
df_100_H['0'].fillna(value="NA", inplace=True)

In [25]:
X_en = df_1k_H['0'].values # 1000 observations at the character level
y_en = df_1k_H['code'].values

In [26]:
X_2 = df_1k_W['0'].values # 1000 observations at the word level
y_2 = df_1k_W['code'].values

In [27]:
X_3 = df_1k_S['0'].values # 1000 observations at the sentence level
y_3 = df_1k_S['code'].values

In [28]:
X_4 = df_500_H['0'].values # 500 observations at the character level
y_4 = df_500_H['code'].values

In [29]:
X_5 = df_500_W['0'].values # 500 observations at the word level
y_5 = df_500_W['code'].values

In [30]:
X_6 = df_500_S['0'].values # 500 observations at the sentence level
y_6 = df_500_S['code'].values

In [31]:
X_7 = df_100_H['0'].values # 100 observations at the character level
y_7 = df_100_H['code'].values

In [32]:
X_8 = df_100_W['0'].values # 100 observations at the word level
y_8 = df_100_W['code'].values

In [33]:
X_9 = df_100_S['0'].values # 100 observations at the sentence level
y_9 = df_100_S['code'].values